@import "bootstrap/mixins";
@import "bootstrap/variables";
$footer-height: 40px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height - 1px;

  p {
    margin: 0;

  }
}
